In [29]:
# Dependencies
import pandas as pd
import numpy as np
import datetime as dt
from matplotlib import style
style.use('fivethirtyeight')
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [30]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [31]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [69]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

results = []
results = session.query(Measurement.date, Measurement.tobs).all()
results_df = pd.DataFrame(data=results,columns = ['Date','Temperature'])
results_df['Date'] = pd.to_datetime(results_df['Date'])
results_df = results_df[results_df['Date'].dt.month == 6]
results_df.tail()

            Date  Temperature
19492 2017-06-26         79.0
19493 2017-06-27         74.0
19494 2017-06-28         74.0
19495 2017-06-29         76.0
19496 2017-06-30         75.0

In [61]:
#  3. Convert the June temperatures to a list.
temperatures_6 = [t for t in results_df['Temperature']]
temperatures_6

array([78., 76., 78., ..., 74., 76., 75.])

In [62]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temperatures_6 = np.transpose(Temperatures_6)
temperature6_df = pd.DataFrame(data=temperatures_6)
temperature6_df.rename( columns={0 :'Temperature'}, inplace=True )
temperature6_df.head()

   Temperature
0         78.0
1         76.0
2         78.0
3         76.0
4         77.0

In [63]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temperature6_df.describe()

       Temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [64]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
from sqlalchemy import extract
results2 = []
results2 = session.query(Measurement.date, Measurement.tobs).all()
results2_df = pd.DataFrame(data=results2,columns = ['Date','Temperature'])
results2_df['Date'] = pd.to_datetime(results2_df['Date'])
results2_df = results2_df[results2_df['Date'].dt.month == 12]
results2_df.head()

          Date  Temperature
305 2010-12-01         76.0
306 2010-12-03         74.0
307 2010-12-04         74.0
308 2010-12-06         64.0
309 2010-12-07         64.0

In [65]:
# 7. Convert the December temperatures to a list.
temperatures_12 = [t for t in results2_df['Temperature']]
temperatures_12 = np.transpose(temperatures12)
temperatures_12

array([76., 74., 74., ..., 69., 65., 65.])

In [66]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temperature12_df = pd.DataFrame(data=temperatures_12)
temperature12_df.rename( columns={0 :'Temperature'}, inplace=True )
temperature12_df.head()

   Temperature
0         76.0
1         74.0
2         74.0
3         64.0
4         64.0

In [68]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temperature12_df.describe()

       Temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000